.post {

  &-column {
    //height: 100%;
    //width: 1000px;
    margin-top: 38px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 28px;
    //max-width: 935px;
  }

  &_image {
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &_block {
      height: 293px;
      width: 293px;
      margin: 15px auto;
      position: relative;
    }
  }
}

.post_image_block-hover {
  height: 293px;
  width: 293px;
  background-color: #8e8e8e;
  position: absolute;
  opacity: 0;

  &:hover {
    opacity: 0.3;
    cursor: pointer;
  }

  &_num {
    margin-left: 5px;
    color: #ffffff;
    font-weight: 600;
  }
}

.post_image_block-hover_icon {
  display: flex;
  position: absolute;
  left: 120px;
  top: 136.5px;
  opacity: 0;
  cursor: pointer;

  &:hover {
    opacity: 1;
  }
}

.post_image_block-hover:hover ~ .post_image_block-hover_icon {
  opacity: 1;
}
