.page-main {
  margin-top: 90px;
  display: flex;
  justify-content: space-between;
  position: relative;
  height: 1000px;
}

.post-feed {
  width: 614px;
  border: 1px solid black;
}

.list-people {
  width: 293px;
  position: relative;
  margin-top: 20px;
}

.list-people-fixed {
  position: fixed;
  border: 1px solid black;
  width: 293px;
  background-color: aquamarine;
  height: 300px;
}