.page-main {
  height: 10000px;
  margin-top: 90px;
  border: 1px solid black;
  background-color: #d5d5d5;
  display: flex;
  justify-content: space-between;
  position: relative;

}

.post-feed {
  width: 614px;
  border: 1px solid black;
}

.list-people {
  background-color: aqua;
  width: 293px;
  border: 1px solid black;
  position: relative;
  margin-top: 20px;
}

.list-people-fixed {
  position: fixed;
  border: 1px solid black;
  width: 293px;
  background-color: aquamarine;

}