.header-user-page {
  display: flex;

  &-avatar {
    background-color: #8e8e8e;
    height: 100px;
    width: 100px;
  }

  &-info {
    background-color: #8e8e8e;
    height: 100px;
    width: 100px;
  }
}