.header {
  height: 59px;
  border-bottom: 1px solid #dbdbdb;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background-color: #fff;

  &__container {
    display: flex;
    margin: 0 auto;
    max-width: 935px;
    align-items: center;
    height: 60px;
    justify-content: space-between;
    width: 100%;
  }

  &__logo {
    height: 29px;
    width: 103px;

    &-img {
      height: 100%;
      width: 100%;
      margin-top: 3px;

      &:hover {
        cursor: pointer;
      }
    }
  }

  &__search {
    margin-left: 80px;

    &-input {
      background: #efefef;
      font-size: 16px;
      border: 0;
      padding: 3px 16px;
      color: #262626;
      border-radius: 8px;
      height: 36px;
      width: 268px;
      box-sizing: border-box;
      margin-left: 90px;
      outline: none;
    }
  }

  &__nav {
    display: flex;

    &-icon {
      height: 25px;
      width: 25px;
      margin-left: 21px;

      &:hover {
        cursor: pointer;
      }
    }
  }
}

.link {
  color: #000000;
}