.post {
  background-color: #ffffff;
  border: 1px solid #dbdbdb;
  border-radius: 2px;

  &__header {
    display: flex;
    align-items: center;
    height: 69px;
    justify-content: space-between;
    padding: 0 20px;
    border-bottom: 1px solid #efefef;

    &-user {
      display: flex;
      align-items: center;

      &__burger {
        height: 5px;
        margin-bottom: 15px;
      }

      &__button {
        background-color: #ffffff;
        border: 0;

        &:hover {
          cursor: pointer;
        }
      }
    }

    &-avatar {
      height: 32px;
      width: 32px;
      border-radius: 50%;
    }

    &-name {
      margin-left: 10px;
    }
  }
}


.post-content {
  max-height: 800px;
  min-height: 400px;
  height: 600px;

  &_block {
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}


.footer {

  &__communication {
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    margin-top: 15px;

    &-button {
      background-color: #ffffff;
      border: 0;

      &:hover {
        cursor: pointer;
      }
    }
  }

  &-icon {
    height: 28px;
    width: 28px;
  }

  &-favorite {
    padding-left: 20px;
    color: #262626;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
  }

  &-comment {
    padding-left: 20px;

    &-all {
      margin-top: 10px;
      color: #262626;
      font-size: 14px;
      line-height: 18px;

      &-item {
        margin-top: 5px;
      }
    }

    &-button {
      background-color: #ffffff;
      border: 0;
      color: #8e8e8e;
      padding: 0;
      margin-top: 10px;
    }

    &-add {
      padding: 0 20px;
      margin-top: 20px;
      height: 50px;
      border-top: 1px solid #efefef;
      align-items: center;
      display: flex;
      justify-content: space-between;

      &-input {
        border: 0;
        outline: none;
        width: 500px;
      }

      &-button {
        color: #0095f6;
        border: 0;
        background-color: #ffffff;
        opacity: 0.3;
        font-size: 14px;

      }
    }
  }
}

